<%= render "search_form", :airports => @airports, :flight_dates => @flight_dates %>

<% unless @flight_results.nil? %>
    <% if @flight_results.empty? %>
      <p>No Results Found.</p>
    <% else %>
      <%= form_with url: new_booking_path, method: 'get', data: { turbo: false }, class: 'centered-column' do %>
        <%= hidden_field_tag 'num_passengers', value = params[:num_passengers] %>
        <% @flight_results.each do |flight| %>
          <div class="content-card flex-center">
          <%= label_tag "flight_id_#{flight.id}" do %>
              <%= render 'shared/flight_details', :flight => flight %>
            <% end %>
            <div class="flight-select">
              <%= radio_button_tag :flight_id, flight.id, required: true %>
            </div>
          </div>
        <% end %>
        <%= submit_tag('Start flying!', class: 'button action') %>
      <% end %>
    <% end %>
<% end %>

