<h2>Congratulations! Your booking is complete!</h2>
<h3>Flight details</h3>
<div class="flight-details">
  <p><%= @booking.flight.departure.airport_code %></p>
  <%= image_tag('right-arrow-purple.png', class: 'image') %>
  <p><%= @booking.flight.destination.airport_code %></p>
  <p><%= @booking.flight.start_time %></p>
  <p><%= @booking.flight.duration %> hours</p>
  <p><%= @booking.flight.start_time + @booking.flight.duration.hours %></p>
</div>
<h3>Passenger details</h3>
<% @booking.passengers.each do |passenger| %>
  <div class="passenger-details">
    <p><%= passenger.name %></p>
    <p><%= passenger.email %></p>
  </div>
<% end %>